/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 100px 50px 100px;
}

header,
.header-logo-container,
.header-nav-container nav,
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.header-logo-container {
  gap: 13px;
}

h1 {
  font-size: 60px;
}

.header-nav-container {
  width: 56.5%;
}

.header-nav {
  gap: 40px;
  font-size: 20px;
}
.header-nav__item {
  position: relative;
  padding-bottom: 5px;
}
.header-nav__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #191A23;
  height: 2px;
  transition: width 0.3s ease-in-out;
}
.header-nav__item:hover::after {
  width: 100%;
}

.btn {
  padding: 20px 35px;
  background-color: #191A23;
  font-size: 20px;
  line-height: 28px;
  border-radius: 14px;
  color: white;
  border: none;
  cursor: pointer;
}

#quote-btn {
  padding: 20px 35px;
  background-color: #fff;
  font-size: 20px;
  line-height: 28px;
  border-radius: 14px;
  color: #000;
  border: 1px solid #191A23;
  cursor: pointer;
}

.section-1,
.section-3 {
  margin: 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 515px;
}

h2 {
  font-size: 60px;
}

p {
  font-size: 18px;
}

.section-1-description,
.section-3-description {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

.section-1-hero-container,
.section-1-hero-container img,
.section-3-hero-container,
.section-3-hero-container img {
  height: 100%;
}

.sponsors-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.section-2,
.section-4,
.section-5,
.section-6 {
  margin: 140px 0 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 80px;
}

.section-2-description,
.section-4-description,
.section-5-description,
.section-6-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.section-2-cards-container {
  height: 88.5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 40px;
}

.section-2-card {
  width: 600px;
  height: 310px;
  border: 1px solid #191A23;
  padding: 50px;
  border-radius: 45px;
  box-shadow: 0 5px 0 0 #191A23;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.card-description-container,
.card-img-container {
  height: 60%;
}

.card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card-description-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.learn-more-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 7px;
}

h3 {
  font-size: 40px;
  background-color: #B9FF66;
  display: inline-block;
}

h4 {
  font-size: 30px;
  padding: 5px;
}

.tertiary-card {
  background-color: #F3F3F3;
}

.tertiary-card h4 {
  background-color: #B9FF66;
}

.primary-card {
  background-color: #B9FF66;
}

.secondary-card {
  background-color: #191A23;
}

.secondary-card p {
  color: #fff;
}

.primary-card h4,
.secondary-card h4 {
  background-color: #fff;
}

.section-3 {
  border-radius: 45px;
  background-color: #F3F3F3;
  padding-left: 60px;
  margin-bottom: 140px;
}

.section-4-cards-container {
  height: 250px;
  padding: 70px 60px;
  background-color: #191A23;
  border-radius: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #fff;
  gap: 64px;
}

.section-4-learn-more-container {
  color: #B9FF66;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.section-4-card {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  height: 50%;
}

.section-4-card:not(:last-child) {
  border-right: 1px solid #fff;
  padding-right: 64px;
}

.section-5-FAQ-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.FAQ {
  width: 93%;
  background-color: #F3F3F3;
  padding: 60px 41px;
  border-radius: 45px;
  border: 1px solid #191A23;
  box-shadow: 0 5px 0 0 #191A23;
}

.FAQ-header,
.FAQ-number-and-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.FAQ-number-and-title {
  gap: 25px;
  font-weight: bold;
}

.FAQ-numeration {
  font-size: 60px;
}

.FAQ-number-and-title p {
  font-size: 38px;
}

.FAQ-toggle-btn {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.FAQ-content {
  margin-top: 30px;
}

.FAQ-expanded .FAQ-header {
  border-bottom: 1px solid #191A23;
  padding: 30px 0;
}

.FAQ-expanded {
  background-color: #B9FF66;
}

.section-6-card {
  width: 387px;
  height: 331px;
  padding: 40px 35px;
  border-radius: 45px;
  border: 1px solid #191A23;
  box-shadow: 0 5px 0 0 #191A23;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

.section-6-cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 40px;
}

.section-6-card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-direction: row;
  padding-bottom: 28px;
  border-bottom: 1px solid #191A23;
}

.team-member-information-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.section-6-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}/*# sourceMappingURL=main.css.map */