@import "./scss/abstracts/variables";
@import "./scss/abstracts/mixins";
@import "./scss/base/reset";

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 100px 50px 100px;
}
header,
.header-logo-container,
.header-nav-container nav,
.header-nav,
.footer-logo-container,
.footer-nav-container,
.footer-nav-container nav {
  @include flex();
}
.header-logo-container {
  gap: 13px;
}
h1 {
  font-size: $desktop-h1-fs;
}
.header-nav-container {
  width: 56.5%;
}
.header-nav {
  gap: 40px;
  font-size: $desktop-h4-fs;

  &__item {
    position: relative;
    padding-bottom: 5px;
  }

  &__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: $secondary-color;
    height: 2px;
    transition: width 0.3s ease-in-out;
  }

  &__item:hover::after {
    width: 100%;
  }
}
.btn {
    @include button();
}
#quote-btn {
  @include button(
    $bg-color: #fff,
    $color: #000,
    $border: 1px solid $secondary-color
  );
}
.section-1,
.section-3 {
    margin: 70px 0;
    @include flex();
    height: 515px;
}
h2 {
    font-size: $desktop-h1-fs;
}
p {
    font-size: $desktop-p-fs;
}
.section-1-description,
.section-3-description {
    width: 40%;
    height: 100%;
    @include flex($direction: column, $justify: space-evenly, $align: flex-start)
}
.section-1-hero-container,
.section-1-hero-container img,
.section-3-hero-container,
.section-3-hero-container img {
    height: 100%;
}
.sponsors-container ul {
    @include flex();
}
.section-2,
.section-4,
.section-5,
.section-6,
.section-7,
.section-8 {
    margin: 140px 0 100px 0;
    @include flex($direction: column, $justify: space-between, $align: flex-start);
    gap: 80px;
}
.section-2-description,
.section-4-description,
.section-5-description,
.section-6-description,
.section-7-description,
.section-8-description {
    @include flex();
    gap: 40px;
}
.section-2-cards-container {
    height: 88.5%;
    width: 100%;
    @include flex();
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
}
.section-2-card {
    width: 600px;
    height: 310px;
    border: 1px solid $secondary-color;
    padding: 50px;
    border-radius: 45px;
    box-shadow: 0 5px 0 0 $secondary-color;
    @include flex();
}
.card-description-container,
.card-img-container {
    height: 60%;
}
.card-img-container {
    @include flex($direction: row, $justify: center, $align: center)
}
.card-description-container {
    @include flex($direction: column, $justify: space-between, $align: flex-start);
}
.learn-more-container {
    @include flex();
    gap: 7px;
}
h3 {
    font-size: $desktop-h2-fs;
    background-color: $primary-color;
    display: inline-block;
}
h4 {
    font-size: $desktop-h3-fs;
    padding: 5px;
}
.tertiary-card {
  background-color: $tertiary-color;
}
.tertiary-card h4 {
  background-color: $primary-color;
}
.primary-card {
  background-color: $primary-color;
}
.secondary-card {
  background-color: $secondary-color;
}
.secondary-card p {
  color: #fff;
}
.primary-card h4,
.secondary-card h4 {
  background-color: #fff;
}
.section-3 {
  border-radius: 45px;
  background-color: $tertiary-color;
  padding-left: 60px;
  margin-bottom: 140px;
}
.section-4-cards-container {
  height: 250px;
  padding: 70px 60px;
  background-color: $secondary-color;
  border-radius: 45px;
  @include flex();
  color: #fff;
  gap: 64px;
}
.section-4-learn-more-container {
  color: $primary-color;
  @include flex($direction: row, $justify: flex-start, $align: center);
  gap: 15px;
}
.section-4-card {
  @include flex($direction: column, $justify: space-evenly, $align: flex-start);
  height: 50%;
}
.section-4-card:not(:last-child) {
  border-right: 1px solid #fff;
  padding-right: 64px;
}
.section-5-FAQ-container {
  @include flex($direction: column, $justify: space-between, $align: flex-start);
  gap: 30px;
}
.FAQ {
  width: 93%;
  background-color: $tertiary-color;
  padding: 60px 41px;
  border-radius: 45px;
  border: 1px solid $secondary-color;
  box-shadow: 0 5px 0 0 $secondary-color
}
.FAQ-header,
.FAQ-number-and-title {
  @include flex();
}
.FAQ-number-and-title {
  gap: 25px;
  font-weight: bold;
}
.FAQ-numeration {
  font-size: $desktop-h1-fs;
}
.FAQ-number-and-title p {
  font-size: 38px;
}
.FAQ-toggle-btn {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  @include flex($direction: row, $justify: center, $align: center);
  cursor: pointer;
}
.FAQ-content {
  margin-top: 30px;
}
.FAQ-expanded .FAQ-header {
  border-bottom: 1px solid $secondary-color;
  padding: 30px 0;
}
.FAQ-expanded {
  background-color: $primary-color;
}
.section-6-card {
  width: 387px;
  height: 331px;
  padding: 40px 35px;
  border-radius: 45px;
  border: 1px solid $secondary-color;
  box-shadow: 0 5px 0 0 $secondary-color;
  @include flex($direction: column, $justify: space-evenly, $align: flex-start);
}
.section-6-cards-container {
  @include flex();
  flex-wrap: wrap;
  row-gap: 40px;
}
.section-6-card-header {
  width: 100%;
  @include flex($direction: row, $justify: space-between, $align: top);
  padding-bottom: 28px;
  border-bottom: 1px solid $secondary-color;
}
.team-member-information-container {
  @include flex();
  gap: 20px
}
.section-6-btn-container {
  width: 100%;
  @include flex($direction: row, $justify: flex-end, $align: center);
}
.testimonials-container {
  @include flex($direction: column, $justify: space-around, $align: center);
  height: 625px;
  background-color: $secondary-color;
  border-radius: 45px;
  width: 100%;
  padding-top: 84px;
  color: #fff;
  overflow: hidden;
  column-gap: 50px;
}
.testimonials {
  @include flex();
  column-gap: 50px;
}
.testimonial {
  position: relative;
}
.testimonial-text {
  position: absolute;
  top: 25%;
  left: 5%;
}
.testimonials-controls-container {
  @include flex();
  width: 50%;
}
.controls-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.testimonials-slider-indicators-container {
  width: 30%;
  @include flex();
}
.testimonial-author-container {
  position: absolute;
  height: 49px;
  @include flex($direction: column, $justify: space-evenly, $align: flex-start);
  margin-top: 20px;
  left: 80px;
}
.author-name {
  color: $primary-color;
}
.section-8 {
  position: relative;
}
.section-8-content-container {
  height: 80%;
  width: 100%;
  background-color: $tertiary-color;
  height: 773px;
  border-radius: 45px;
}
form {
  height: 100%;
  width: 50%;
  @include flex($direction: column, $justify: space-evenly, $align: flex-start);
  padding-left: 150px;
}
.section-8-hero-container {
  position: absolute;
  top: 20%;
  right: -22%;
}
.user-information-and-message {
  width: 60%;
  height: 60%;
  @include flex($direction: column, $justify: space-between, $align: flex-start);
  gap: 25px;
}
.user-name,
.user-email,
.user-message {
  @include flex($direction: column, $justify: space-between, $align: flex-start);
  height: 92px;
  width: 100%;
}
.user-input {
  width: 100%;
  padding: 18px 30px;
  border-radius: 14px;
}
.user-message {
  height: 50%
}
// input[type="radio"] {
//   width: 28px;
//   height: 28px;
// }
// input[type="radio"]:checked {
//   background-color: $primary-color;
// }
input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Create a custom radio button using the label */
.option-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px; /* Space for the custom circle */
  font-size: 16px;
  color: #333;
}

/* Outer circle */
.option-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s ease;
}

/* Inner circle (dot) */
.option-label::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: transparent; /* Hidden by default */
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

/* Show the inner circle (green dot) when checked */
input[type="radio"]:checked + label::after {
  background-color: $primary-color; /* Green dot color */
}

button[type="submit"] {
  width: 70%;
}
.outreach-options-container,
.option-container {
  @include flex();
}
.outreach-options-container {
  gap: 35px;
}
.option-container {
  gap: 14px;
}
footer {
  height: 514px;
  background-color: $secondary-color;
  border-radius: 45px;
  padding: 55px 60px;
  @include flex($direction: column, $justify: space-evenly, $align: flex-start)
}
footer {
  color: #fff;
}
.footer-nav__item {
  color: red
}
h5 {
  font-size: $desktop-h3-fs
}

// ask about time and about pages of the design
// do only homepage - and its responsive
// make accordions and slides work
// jer bootstrap da mere sheni css if you will use bootstrap