@import "./scss/abstracts/variables";
@import "./scss/abstracts/mixins";
@import "./scss/base/reset";

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 100px 50px 100px;
}
header,
.header-logo-container,
.header-nav-container nav,
.header-nav {
  @include flex();
}
.header-logo-container {
  gap: 13px;
}
h1 {
  font-size: $desktop-h1-fs;
}
.header-nav-container {
  width: 56.5%;
}
.header-nav {
  gap: 40px;
  font-size: $desktop-h4-fs;

  &__item {
    position: relative;
    padding-bottom: 5px;
  }

  &__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: $secondary-color;
    height: 2px;
    transition: width 0.3s ease-in-out;
  }

  &__item:hover::after {
    width: 100%;
  }
}
.btn {
    @include button();
}
#quote-btn {
  @include button(
    $bg-color: #fff,
    $color: #000,
    $border: 1px solid $secondary-color
  );
}
.section-1,
.section-3 {
    margin: 70px 0;
    @include flex();
    height: 515px;
}
h2 {
    font-size: $desktop-h1-fs;
}
p {
    font-size: $desktop-p-fs;
}
.section-1-description,
.section-3-description {
    width: 40%;
    height: 100%;
    @include flex($direction: column, $justify: space-evenly, $align: flex-start)
}
.section-1-hero-container,
.section-1-hero-container img,
.section-3-hero-container,
.section-3-hero-container img {
    height: 100%;
}
.sponsors-container ul {
    @include flex();
}
.section-2,
.section-4 {
    margin: 140px 0 100px 0;
    @include flex($direction: column, $justify: space-between, $align: flex-start);
    gap: 80px;
}
.section-2-description,
.section-4-description {
    @include flex();
    gap: 40px;
}
.section-2-cards-container {
    height: 88.5%;
    width: 100%;
    @include flex();
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
}
.section-2-card {
    width: 600px;
    height: 310px;
    border: 1px solid $secondary-color;
    padding: 50px;
    border-radius: 45px;
    box-shadow: 0 5px 0 0 $secondary-color;
    @include flex();
}
.card-description-container,
.card-img-container {
    height: 60%;
}
.card-img-container {
    @include flex($direction: row, $justify: center, $align: center)
}
.card-description-container {
    @include flex($direction: column, $justify: space-between, $align: flex-start);
}
.learn-more-container {
    @include flex();
    gap: 7px;
}
h3 {
    font-size: $desktop-h2-fs;
    background-color: $primary-color;
    display: inline-block;
}
h4 {
    font-size: $desktop-h3-fs;
    padding: 5px;
}
.tertiary-card {
  background-color: $tertiary-color;
}
.tertiary-card h4 {
  background-color: $primary-color;
}
.primary-card {
  background-color: $primary-color;
}
.secondary-card {
  background-color: $secondary-color;
}
.secondary-card p {
  color: #fff;
}
.primary-card h4,
.secondary-card h4 {
  background-color: #fff;
}
.section-3 {
  border-radius: 45px;
  background-color: $tertiary-color;
  padding-left: 60px;
  margin-bottom: 140px;
}
.section-4-cards-container {
  height: 250px;
  padding: 70px 60px;
  background-color: $secondary-color;
  border-radius: 45px;
  @include flex();
  color: #fff;
  gap: 64px;
}
.section-4-learn-more-container {
  color: $primary-color;
  @include flex($direction: row, $justify: flex-start, $align: center);
  gap: 15px;
}
.section-4-card {
  @include flex($direction: column, $justify: space-evenly, $align: flex-start);
  height: 50%;
}
.section-4-card:not(:last-child) {
  border-right: 1px solid #fff;
  padding-right: 64px;
}