@import "./scss/abstracts/variables";
@import "./scss/abstracts/mixins";
@import "./scss/base/reset";

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 100px 50px 100px;
}
header,
.header-logo-container,
.header-nav-container nav,
.header-nav {
  @include flex();
}
.header-logo-container {
  gap: 13px;
}
h1 {
  font-size: $desktop-h1-fs;
}
.header-nav-container {
  width: 56.5%;
}
.header-nav {
  gap: 40px;
  font-size: $desktop-h4-fs;

  &__item {
    position: relative;
    padding-bottom: 5px;
  }

  &__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: $secondary-color;
    height: 2px;
    transition: width 0.3s ease-in-out;
  }

  &__item:hover::after {
    width: 100%;
  }
}
.btn {
    @include button();
}
#quote-btn {
  @include button(
    $bg-color: #fff,
    $color: #000,
    $border: 1px solid $secondary-color
  );
}
.section-1 {
    margin-top: 70px;
    @include flex();
    height: 515px;
}
h2 {
    font-size: $desktop-h1-fs;
}
p {
    font-size: $desktop-p-fs;
}
.section-1-description {
    width: 40%;
    height: 100%;
    @include flex($direction: column, $justify: space-evenly, $align: flex-start)
}
.section-1-hero-container,
.section-1-hero-container img {
    height: 100%;
}