@mixin flex($direction: row, $justify: space-between, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin button($bg-color: $secondary-color, $color: white, $border: none) {
    padding: 20px 35px;
    background-color: $bg-color;
    font-size: $desktop-h4-fs;
    line-height: 28px;
    border-radius: 14px;
    color: $color;
    border: $border;
    cursor: pointer;
}

