// Desktop typography:
$desktop-h1-fs: 60px;
$desktop-h2-fs: 40px;
$desktop-h3-fs: 30px;
$desktop-h4-fs: 20px;
$desktop-p-fs: 18px;
// Mobile typography:
$mobile-h1-fs: 43px;
$mobile-h2-fs: 36px;
$mobile-h3-fs: 26px;
$mobile-h4-fs: 18px;
$mobile-p-fs: 16px;
// Color-scheme:
$primary-color: #B9FF66;
$secondary-color: #191A23;
$tertiary-color: #F3F3F3;